<!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">  
      <title>Reservation Homepage</title>
      
    </head>


    <body>

        <h1>{{ restaurant }}</h1>

        <form action="{{ url_for('reservation.confirmationPage') }}" method="POST">

          <div class="form-group">
            <label for="inputGuess">Location</label>
            <input type="text" readonly class="form-control" id="restaurantName" name="restaurantName" value="{{ name }}">
          </div>

          <div class="form-group">
            <label for="inputGuess">Selected time</label>
            <input type="text" readonly class="form-control" id="seletedHour" name="seletedHour" value="{{ hour }}">
          </div>
          
          <div class="form-group">
            <label for="nameInput">Input your name</label>
            <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Enter your reservation name"required>
          </div>

          <div class="form-group">
            <label for="inputGuess">Number of guest</label>
            <input type="number" class="form-control" id="inputGuess" name="inputGuess" aria-describedby="guestNumber" placeholder="Enter number of guest"required>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="ada" name="ada">
            <label class="form-check-label" for="ada">ADA needed?</label>
          </div>

          <div class="form-group">
            <label for="comments">Leave us a comment(optional)</label>
            <textarea class="form-control" id="comments" name="comments" rows="3" placeholder="n/a"></textarea>
          </div>

          <div class="form-group">
            <input type="text" readonly class="form-control" id="selectedLocation" name="selectedLocation" value="{{ location }}" hidden="hidden">
          </div>

          <div class="form-group">
            <input type="text" readonly class="form-control" id="tabId" name="tabId" value="{{ tab }}" hidden="hidden">
          </div>

          <button type="submit" class="btn btn-default">Submit</button>
      </form>

        

    </body>

    
    


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </html>    